# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.DS_Store
*.log
*.pyc
app/basketball_json.db
app/src/python/middle_stack/dist/data_manager/basketball_json.db
app/src/python/middle_stack/dist/auto_complete/basketball_json.db
app/src/python/backend/*

__pycache__
