<div id="main-nav">
  <main-nav (pageChanged)="pageChanged($event)"></main-nav>
</div>

<div id="players-wrapper" [hidden]="currentPage != 'players'">

  <div class="filter-wrapper" id="filter-nav-players" [style.height.px]="contentHeight" >
    <filter-players></filter-players>
  </div>

  <div class="content-wrapper" id="content-players" [style.height.px]="contentHeight">
    <stats-table></stats-table>
  </div>

</div>

<div id="teams-wrapper" [hidden]="currentPage != 'teams'">

  <div class="filter-wrapper" id="filter-nav-teams" [style.height.px]="contentHeight">
    <filter-teams></filter-teams>
  </div>

  <div class="content-wrapper" id="content-teams" [style.height.px]="contentHeight">
    <h2>This is the teams page</h2>
    <stats-table></stats-table>
  </div>

</div>

<div id="games-wrapper" [hidden]="currentPage != 'games'">

  <div class="filter-wrapper" id="filter-nav-games" [style.height.px]="contentHeight">
    <filter-games></filter-games>
  </div>

  <div class="content-wrapper" id="content-games" >
    <h2>This is the games page</h2>
    <stats-table></stats-table>
  </div>

</div>
