<nav class="side-nav js-nav is-shown" id="left">
  <div class="clear-filters" id="clear-games-filters" style="padding-right:6px;">
    <button type="button" class="btn btn-danger btn-xs" (click)="clearAllFilters()"> Clear All </button>
  </div>
  <div class="nav-item">
    <h5 class="nav-category">Team Filters</h5>
    <table id="team-filters" class="filter-table">
      <tr>
        <td class="filter-td"> <label class="filter-label" for="gameTeamNames[]"> Team: </label> </td>
        <td class="filter-td">
          <select id="game-team" class="input-filter game-select2 filter-select2" name="gameTeamNames[]" multiple="multiple"></select>
        </td>
      </tr>
      <tr>
        <td class="filter-td"> <label class="filter-label" for="gameVsTeamNames[]"> Opponent: </label> </td>
        <td class="filter-td">
          <select id="game-opponent" class="input-filter game-select2 filter-select2" name="gameVsTeamNames[]" multiple="multiple"></select>
        </td>
      </tr>
      <tr>
        <td class="filter-td"> <label class="filter-label" for="gameConferenceName[]"> Conference: </label> </td>
        <td class="filter-td">
          <select id="game-conference" class="input-filter game-select2 filter-select2" name="gameConferenceName[]" multiple="multiple"></select>
        </td>
      </tr>
    </table>
  </div>

  <div class="nav-item">
    <h5 class="nav-category">Game Filters</h5>
    <table id='game-filters' class="filter-table">
      <tr>
        <td class="filter-td">
          <label class="filter-label" for="gameLastNGames">Show last</label>
        </td>
        <td class="filter-td">
          <input type="number" class="input-filter" style="margin-left:4px; margin-right:2px; width:40px; text-align:center;" id="gameLastNGames" name="gameLastNGames" #lastNGames placeholder="#">
        </td>
        <td class="filter-td">
          <label class="filter-label">game(s)</label>
        </td>
      </tr>
      <tr>
        <td class="filter-td">
          <label class="filter-label" for="gameUpOrDown">Score within</label>
        </td>
        <td class="filter-td">
          <input type="number" class="input-filter" style="margin-left:4px; margin-right:2px; width:40px; text-align:center;" id="gameUpOrDown" name="gameUpOrDown" #upOrDown placeholder="#">
        </td>
        <td class="filter-td">
          <label class="filter-label">points</label>
        </td>
      </tr>
      <tr>
        <td class="filter-td">
          <span class="filter-label"> Location: </span>
        </td>
      </tr>
      <tr>
        <td class="filter-td filterCheckbox">
          <label class="filter-label indent-first-checkbox" for="gameHomeGames">Home</label>
          <input type="checkbox" class="homeAway" id="gameHomeGames" name="gameHomeGames" #homeGames/>
        </td>
        <td class="filter-td filterCheckbox">
          <label class="filter-label" for="gameAwayGames">Away</label>
          <input type="checkbox" class="homeAway" id="gameAwayGames" #awayGames/>
        </td>
        <td class="filter-td filterCheckbox">
          <label class="filter-label" for="gameNeutralGames">Neutrl</label>
          <input type="checkbox" class="homeAway" id="gameNeutralGames" #neutralGames/>
        </td>
      </tr>

      <tr>
        <td class="filter-td"> <span class="filter-label"> Outcome: </span> </td>
      </tr>
      <tr>
        <td class="filter-td filterCheckbox">
          <label class="filter-label indent-first-checkbox" for="gameWins">Win</label>
          <input type="checkbox" class="winLoss" id="gameWins" #wins/>
        </td>
        <td class="filter-td filterCheckbox">
          <label class="filter-label" for="gameLosses">Loss</label>
          <input type="checkbox" class="winLoss" id="gameLosses" #losses/>
        </td>
      </tr>
    </table>
    <table id="gameGame-time">
      <tr>
        <td class="filter-td" colspan="3"> <span class="filter-label"> Game Time: </span> </td>
      </tr>
      <tr style="width:100%">
        <td class="filter-td" colspan="3">
          <div class="slider-wrapper">
            <input type="text" id="ggtSlider" name="ggtSlider" value="" #ggtSlider/>
          </div>
        </td>
      </tr>
      <tr>
        <td class="time-td">
          <input type="text" class="gametime-input" maxlength="5" value={{gametime.ggtSlider.start.clock}}
                  #gameStartInput (keyup.enter)="updateSliderStart(gameStartInput.value, ggtSlider.id)" />
          <input [(ngModel)]="startTime2ndHalf.ggtSlider" (change)="changedStartHalf(ggtSlider.id)" type="checkbox" />
        </td>

        <td class="filter-td" style="width:50px; font-size:10px; text-align:center;">
          <span class="second-half">2nd half</span>
        </td>
        <td class="filter-td time-td" style="text-align:right;">
          <input [(ngModel)]="endTime2ndHalf.ggtSlider" (change)="changedEndHalf(ggtSlider.id)" type="checkbox" />
          <input type="text" class="gametime-input" maxlength="5" value="{{gametime.ggtSlider.end.clock}}"
                  #gameEndInput (keyup.enter)="updateSliderEnd(gameEndInput.value,  ggtSlider.id)"/>
        </td>
      </tr>
      <tr>
        <td class="filter-td filterCheckbox" colspan="3">
          <label class="filter-label" for="gameIncludeOT">Include OT</label>
          <input type="checkbox" class="gametime" id="gameIncludeOT"/>
        </td>
      </tr>

      <tr>
        <td colspan="3" style="text-align:right;">
          <button class="btn btn-sm btn-default" (click)="togglePgtExtra()">Toggle Extra Time Period</button>
        </td>
      </tr>

      <tr style="width:100%" [hidden]="hidePgtExtra">
        <td class="filter-td" colspan="3">
          <div class="slider-wrapper">
            <input type="text" id="ggtSliderExtra" name="ggtSliderExtra" value=""  #ggtSliderExtra/>
          </div>
        </td>
      </tr>
      <tr [hidden]="hidePgtExtra">
        <td class="time-td">
          <input type="text" class="gametime-input" maxlength="5" value={{gametime.ggtSliderExtra.start.clock}}
                  #gameStartExtraInput (keyup.enter)="updateSliderStart(gameStartExtraInput.value, ggtSliderExtra.id)" />
          <input [(ngModel)]="startTime2ndHalf.ggtSliderExtra" (change)="changedStartHalf(ggtSliderExtra.id)" type="checkbox" />
        </td>

        <td class="filter-td" style="width:50px; font-size:10px; text-align:center;">
          <span class="second-half">2nd half</span>
        </td>
        <td class="filter-td time-td" style="text-align:right;">
          <input [(ngModel)]="endTime2ndHalf.ggtSliderExtra" (change)="changedEndHalf(ggtSliderExtra.id)" type="checkbox" />
          <input type="text" class="gametime-input" maxlength="5" value="{{gametime.ggtSliderExtra.end.clock}}"
                  #gameEndExtraInput (keyup.enter)="updateSliderEnd(gameEndInput.value, ggtSliderExtra.id)" />
        </td>
      </tr>
      <tr [hidden]="hidePgtExtra">
        <td class="filter-td filterCheckbox" colspan="3">
          <label class="filter-label" for="gameIncludeOTExtra">Include OT</label>
          <input type="checkbox" class="gametime" id="gameIncludeOTExtra"/>
        </td>
      </tr>
    </table>
  </div>

  <div class="nav-item season-category">
    <table id='game-season-filters' class="filter-table">
      <tr>
        <td>
          <h5 class="nav-category">Season</h5>
        </td>
        <td class="filter-td" style="text-align:center; width:100%;">
          <select id="games-select-season" class="game-select2 filter-select2" multiple="multiple" style="width:100%; padding:4px"> </select>
        </td>
      </tr>
    </table>
  </div>

  <div class="nav-item apply-filters" >
    <button class="btn btn-default" (click)="applyPlayerFilters()">Apply Filters</button>
  </div>

</nav>
