<nav class="side-nav js-nav is-shown" id="left">
  <div class="clear-filters" id="clear-players-filters" style="padding-right:6px;">
    <button type="button" class="btn btn-danger btn-xs" (click)="clearAllFilters()"> Clear All </button>
  </div>
  <div class="nav-item">
    <h5 class="nav-category">Player Filters</h5>
    <table id='player-filters' class="filter-table">
      <!-- <tr>
        <td class="filter-td"> <label class="filter-label" for="playerName"> Name: </label> </td>
        <td class="filter-td"> <input class="input-filter" id="playerName" name="playerName" #playerName placeholder="Ex. Smith, Brown"> </td>
      </tr> -->
      <tr>
        <td class="filter-td"> <label class="filter-label" for="playerPos"> Position: </label> </td>
        <!-- <td class="filter-td"> <input class="input-filter" id="playerPos" name="playerPos" #playerPos placeholder="Ex. PG, SG"> </td> -->
        <td style="width:100%;">
          <select id="player-position" class="player-select2 filter-select2" name="states[]" multiple="multiple" style="width:100%;"></select>
        </td>
      </tr>
    </table>
  </div>
  <div class="nav-item">
    <h5 class="nav-category">Team Filters</h5>
    <table id="team-filters" class="filter-table">
      <tr>
        <td class="filter-td"> <label class="filter-label" for="teamNames"> Team: </label> </td>
        <td class="filter-td">
          <select id="player-team" class="input-filter player-select2 filter-select2" name="teamNames[]" multiple="multiple"></select>
        </td>
      </tr>
      <tr>
        <td class="filter-td"> <label class="filter-label" for="vsTeamNames"> Opponent: </label> </td>
        <td class="filter-td">
          <select id="player-opponent" class="input-filter player-select2 filter-select2" name="vsTeamNames[]" multiple="multiple"></select>
        </td>
      </tr>
      <tr>
        <td class="filter-td"> <label class="filter-label" for="conferenceNames"> Conference: </label> </td>
        <td class="filter-td">
          <select id="player-conference" class="input-filter player-select2 filter-select2" name="conferenceNames[]" multiple="multiple"></select>
        </td>
      </tr>
    </table>
  </div>
  <div class="nav-item">
    <!-- TODO: make this an autocomplete fancy input -->
    <h5 class="nav-category">Lineup Filters</h5>
    <table id="lineup-filters" class="filter-table">
      <tr>
        <td class="filter-td"> <label class="filter-label" for="player-in-lineup[]"> In Lineup: </label> </td>
        <td class="filter-td">
          <select id="player-in-lineup" class="player-select2 filter-select2" style="width:100%;" name="player-in-lineup[]" multiple="multiple"></select>
        </td>
      </tr>
      <tr>
        <td class="filter-td"> <label class="filter-label" for="player-out-lineup[]"> Out of Lineup: </label> </td>
        <td class="filter-td">
          <select id="player-out-lineup" class="player-select2 filter-select2" style="width:100%;" name="player-out-lineup[]" multiple="multiple"></select>
        </td>
      </tr>
    </table>
  </div>

  <div class="nav-item">
    <h5 class="nav-category">Game Filters</h5>
    <table id='game-filters' class="filter-table">
      <tr>
        <td class="filter-td">
          <label class="filter-label" for="lastNGames"> Show last </label>
        </td>
        <td class="filter-td">
          <input type="number" class="input-filter" style="margin-left:4px; margin-right:2px; width:40px; text-align:center;" id="lastNGames" name="lastNGames" #lastNGames placeholder="#">
        </td>
        <td class="filter-td">
          <label class="filter-label">game(s)</label>
        </td>
      </tr>
      <tr>
        <td class="filter-td">
          <label class="filter-label" for="upOrDown">Score within </label>
        </td>
        <td class="filter-td">
          <input type="number" class="input-filter" style="margin-left:4px; margin-right:2px; width:40px; text-align:center;" id="upOrDown" name="upOrDown" #upOrDown placeholder="#">
        </td>
        <td class="filter-td">
          <label class="filter-label">points</label>
        </td>
      </tr>
      <tr>
        <td class="filter-td">
          <span class="filter-label"> Location: </span>
        </td>
      </tr>
      <tr>
        <td class="filter-td filterCheckbox">
          <label class="filter-label indent-first-checkbox" for="homeGames">Home</label>
          <input type="checkbox" class="homeAway" id="homeGames" name="homeGames" #homeGames/>
        </td>
        <td class="filter-td filterCheckbox">
          <label class="filter-label" for="awayGames">Away</label>
          <input type="checkbox" class="homeAway" id="awayGames" #awayGames/>
        </td>
        <td class="filter-td filterCheckbox">
          <label class="filter-label" for="neutralGames">Neutrl</label>
          <input type="checkbox" class="homeAway" id="neutralGames" #neutralGames/>
        </td>
      </tr>

      <tr>
        <td class="filter-td"> <span class="filter-label"> Outcome: </span> </td>
      </tr>
      <tr>
        <td class="filter-td filterCheckbox">
          <label class="filter-label indent-first-checkbox" for="wins">Win</label>
          <input type="checkbox" class="winLoss" id="wins" #wins/>
        </td>
        <td class="filter-td filterCheckbox">
          <label class="filter-label" for="losses">Loss</label>
          <input type="checkbox" class="winLoss" id="losses" #losses/>
        </td>
      </tr>
    </table>
    <table id="game-time">
      <tr>
        <td class="filter-td" colspan="3"> <span class="filter-label"> Game Time: </span> </td>
      </tr>
      <tr style="width:100%">
        <td class="filter-td" colspan="3">
          <div class="slider-wrapper">
            <input type="text" id="pgtSlider" name="pgtSlider" value="" #pgtSlider/>
          </div>
        </td>
      </tr>
      <tr>
        <td class="time-td">
          <input type="text" class="gametime-input" maxlength="5" value={{gametime.pgtSlider.start.clock}}
                  #gameStartInput (keyup.enter)="updateSliderStart(gameStartInput.value, pgtSlider.id)" />
          <input [(ngModel)]="startTime2ndHalf.pgtSlider" (change)="changedStartHalf(pgtSlider.id)" type="checkbox" />
        </td>

        <td class="filter-td" style="width:50px; font-size:10px; text-align:center;">
          <span class="second-half">2nd half</span>
        </td>
        <td class="filter-td time-td" style="text-align:right;">
          <input [(ngModel)]="endTime2ndHalf.pgtSlider" (change)="changedEndHalf(pgtSlider.id)" type="checkbox" />
          <input type="text" class="gametime-input" maxlength="5" value="{{gametime.pgtSlider.end.clock}}"
                  #gameEndInput (keyup.enter)="updateSliderEnd(gameEndInput.value,  pgtSlider.id)"/>
        </td>
      </tr>
      <tr>
        <td class="filter-td filterCheckbox" colspan="3">
          <label class="filter-label" for="includeOT">Include OT</label>
          <input type="checkbox" class="gametime" id="includeOT"/>
        </td>
      </tr>

      <tr>
        <td colspan="3" style="text-align:right;">
          <button class="btn btn-sm btn-default" (click)="togglePgtExtra()">Toggle Extra Time Period</button>
        </td>
      </tr>

      <tr style="width:100%" [hidden]="hidePgtExtra">
        <td class="filter-td" colspan="3">
          <div class="slider-wrapper">
            <input type="text" id="pgtSliderExtra" name="pgtSliderExtra" value=""  #pgtSliderExtra/>
          </div>
        </td>
      </tr>
      <tr [hidden]="hidePgtExtra">
        <td class="time-td">
          <input type="text" class="gametime-input" maxlength="5" value={{gametime.pgtSliderExtra.start.clock}}
                  #gameStartExtraInput (keyup.enter)="updateSliderStart(gameStartExtraInput.value, pgtSliderExtra.id)" />
          <input [(ngModel)]="startTime2ndHalf.pgtSliderExtra" (change)="changedStartHalf(pgtSliderExtra.id)" type="checkbox" />
        </td>

        <td class="filter-td" style="width:50px; font-size:10px; text-align:center;">
          <span class="second-half">2nd half</span>
        </td>
        <td class="filter-td time-td" style="text-align:right;">
          <input [(ngModel)]="endTime2ndHalf.pgtSliderExtra" (change)="changedEndHalf(pgtSliderExtra.id)" type="checkbox" />
          <input type="text" class="gametime-input" maxlength="5" value="{{gametime.pgtSliderExtra.end.clock}}"
                  #gameEndExtraInput (keyup.enter)="updateSliderEnd(gameEndInput.value, pgtSliderExtra.id)" />
        </td>
      </tr>
      <tr [hidden]="hidePgtExtra">
        <td class="filter-td filterCheckbox" colspan="3">
          <label class="filter-label" for="includeOT">Include OT</label>
          <input type="checkbox" class="gametime" id="includeOT"/>
        </td>
      </tr>

    </table>
  </div>

  <div class="nav-item" id="season-category">
    <table id='season-filters' class="filter-table">
      <tr>
        <td>
          <h5 class="nav-category">Season</h5>
        </td>
        <td class="filter-td" style="text-align:center; width:100%;">
          <select id="select-season" class="player-select2 filter-select2" multiple="multiple" style="width:100%; padding:4px"> </select>
        </td>
      </tr>
    </table>
  </div>

  <div class="nav-item apply-filters" >
    <button class="btn btn-default" (click)="applyPlayerFilters()">Apply Filters</button>
  </div>

</nav>
