<nav class="side-nav js-nav is-shown" id="left">
  <div class="clear-filters" id="clear-games-filters" style="padding-right:6px;">
    <button type="button" class="btn btn-danger btn-xs" id="clear-btn"> Clear </button>
  </div>
  <div class="nav-item">
    <h5 class="nav-category">Player Filters</h5>
    <table id='player-filters'>
      <tr>
        <td class="filter-td"> <label class="filter-label" for="playerName"> Name: </label> </td>
        <td class="filter-td"> <input class="input-filter" id="playerName" name="playerName" #playerName placeholder="Ex. Smith, Brown"> </td>
      </tr>
      <tr>
        <td class="filter-td"> <label class="filter-label" for="playerNum"> Number: </label> </td>
        <td class="filter-td"> <input class="input-filter" id="playerNum" name="playerNum" #playerNum placeholder="Ex. 10, 23"> </td>
      </tr>
      <tr>
        <td class="filter-td"> <label class="filter-label" for="playerPos"> Position: </label> </td>
        <td class="filter-td"> <input class="input-filter" id="playerPos" name="playerPos" #playerPos placeholder="Ex. PG, SG"> </td>
      </tr>
    </table>
  </div>
  <div class="nav-item">
    <h5 class="nav-category">Team Filters</h5>
    <table id='team-filters'>
      <tr>
        <td class="filter-td"> <label class="filter-label" for="collegeName"> College: </label> </td>
        <td class="filter-td"> <input class="input-filter" id="collegeName" name="collegerName" #collegeName (keyup)="onKeyName(collegeName.value)" placeholder="Ex. Columbia"> </td>
      </tr>
      <tr>
        <td class="filter-td"> <label class="filter-label" for="conferenceName"> Conference: </label> </td>
        <td class="filter-td"> <input class="input-filter" id="conferenceName" name="conferenceName" #conferenceName (keyup)="onKeyNum(conferenceName.value)" placeholder="Ex. Ivy League"> </td>
      </tr>
    </table>
  </div>

  <div class="nav-item">
    <h5 class="nav-category">Game Filters</h5>
    <table id='game-filters'>
      <tr>
        <td class="filter-td" colspan="3">
          <label class="filter-label" for="lastNGames"> Show last </label>
          <input type="number" class="input-filter" style="margin-left:4px; margin-right:2px; width:40px; text-align:center;" id="lastNGames" name="lastNGames" #lastNGames placeholder="4">
          <label class="filter-label">game(s)</label>
        </td>
      </tr>
      <tr>
        <td class="filter-td">
          <span class="filter-label"> Location: </span>
        </td>
      </tr>
      <tr>
        <td class="filter-td filterCheckbox">
          <label class="filter-label indent-first-checkbox" for="homeGames">Home</label>
          <input type="checkbox" class="homeAway" id="homeGames"/>
        </td>
        <td class="filter-td filterCheckbox">
          <label class="filter-label" for="awayGames">Away</label>
          <input type="checkbox" class="homeAway" id="awayGames"/>
        </td>
        <td class="filter-td filterCheckbox">
          <label class="filter-label" for="neutralGames">Neutrl</label>
          <input type="checkbox" class="homeAway" id="neutralGames"/>
        </td>
      </tr>

      <tr>
        <td class="filter-td"> <span class="filter-label"> Outcome: </span> </td>
      </tr>
      <tr>
        <td class="filter-td filterCheckbox">
          <label class="filter-label indent-first-checkbox" for="wins">Win</label>
          <input type="checkbox" class="winLoss" id="wins"/>
        </td>
        <td class="filter-td filterCheckbox">
          <label class="filter-label" for="losses">Loss</label>
          <input type="checkbox" class="winLoss" id="losses"/>
        </td>
      </tr>
    </table>
    <table id="game-time">
      <tr>
        <td class="filter-td" colspan="3"> <span class="filter-label"> Game Time: </span> </td>
      </tr>
      <tr>
        <td class="filter-td" colspan="3">
          <!-- TODO: get this to be a range slider with 2 for the time like in the demo -->
          <input type="range" multiple/>
        </td>
      </tr>
      <tr>
        <td>20:00</td>
        <td class="filter-td filterCheckbox" style="    width: 100px;text-align: center;">
          <label class="filter-label" for="includeOT">Include OT</label>
          <input type="checkbox" class="gametime" id="includeOT"/>
        </td>
        <td style="text-align:right;">00:00</td>
      </tr>
    </table>
  </div>

  <div class="nav-item" id="season-category">
    <table id='season-filters'>
      <tr>
        <td>
          <h5 class="nav-category">Season</h5>
        </td>
        <td class="filter-td" style="text-align:center; width:100%;">
          <select id="select-season" multiple style="padding:4px">
            <option value="17">17-18</option>
            <option value="16">16-17</option>
            <option value="15">15-16</option>
            <option value="14">14-15</option>
          </select>
        </td>
      </tr>
    </table>
  </div>

  <div class="nav-item apply-filters">
    <button class="btn btn-default">Apply Filters</button>
  </div>

</nav>
