<!-- <table class="table table-striped table-bordered" id="stats-table">
  <tr>
    <th *ngFor="let key of headers; let in = index" [class]="'col-'+in">{{key}}</th>
  </tr>
  <tr *ngFor="let player of playerList">
    <td *ngFor="let key of passed_in_headers; let in = index" [class]="'col-'+in" >{{player[key]}}</td>
  </tr>
</table> -->

<table class="table table-striped table-bordered" class="stats-table" [id]="pageName + '-table'">
 <tr>
   <th *ngFor="let key of headers; let in = index" [class]="'col-'+in" id="{{passed_in_headers[in]}}_header"><div class="minimize" id="{{passed_in_headers[in]}}" onclick="hideCol(this)">-</div><p class="{{passed_in_headers[in]}}">{{key+'\t'}}</p></th>
 </tr>
 <tr *ngFor="let player of playerList">
   <td *ngFor="let key of passed_in_headers; let in = index" [class]="'col-'+in" ><p class="{{key}}">{{player[key]+'\t'}}</p></td>
 </tr>
</table>


<!-- <table class="table table-striped table-bordered">
 <tr>
   <th *ngFor="let key of headers" id="{{key}}_header"><div class="minimize" id="{{key}}" onclick="hideCol(this)">-</div><p class="{{key}}">{{key}}</p></th>
 </tr>
 <tr *ngFor="let player of playerList">
   <td *ngFor="let key of passed_in_headers"> <p class=key>{{player[key]}}</p></td>
 </tr>
</table> -->
